<style>
  a {
    font-size: 20px;
    text-decoration: none;
    }

  .grid-container {
    display: grid;
    grid: 50px / 1fr 400px 1fr;
    grid-gap: 10px;
    padding: 10px;
    align-items: center;
  }
  .title_left{
    text-align: right;
  }
  .title_right{
    text-align: left;
  }
  .text{
    text-align: center;
  }
  .main_img{
    display:inline-block;
    text-align: center;
    border: 5px solid white;
  }
  body {
    margin:0;
  }
  h1 {
    text-align: center;
    font-size: 45px;
    font-family: Verdana;
    margin:0;
  }
  h6 {
    text-align: center;
    font-family: Verdana;
  }

</style>
